# Build outputs
bin/
obj/
*.dll
*.exe
*.pdb
dist/
build/
packages/

# Secrets
appsettings*.json
.env
*.key
*.pem

# IDE / Editor
.vs/
.vscode/
*.user
*.suo
*.log


# OS files
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.cache
